language: swift
os: osx
osx_image: xcode9.4
xcode_workspace: SaltChannel.xcworkspace
xcode_scheme: SaltChannel-Tests

install:
  - pod repo update

script:
  - pod install
  - swiftlint
  - xcodebuild -version
  - xcodebuild -workspace SaltChannel.xcworkspace -scheme SaltChannel-Tests -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 6" -configuration Debug ONLY_ACTIVE_ARCH=YES -enableCodeCoverage YES test | xcpretty
  - bash <(curl -s https://codecov.io/bash) -J SaltChannel -cF ios
  
env:
  - SWIFT_VERSION=4.1

notifications:
  email:
    recipients:
      - dreadrik@gmail.com
    on_success: never
    on_failure: always
